html#main-window {
	--bg-color: #282a36;
	--bg-alt: #44475a;
	--urlbar-inactive: #6272a4;
	--urlbar-active: #f8f8f2;
	--tab-font: "monospace";
	--tab-foreground: #bd93f9;
	--font-size: 11;
	--personal-container-color: #8be9fd;
	--work-container-color: #ffb86c;

	/* Firefox variables */
	--lwt-toolbar-field-focus-color: var(--urlbar-active) !important;
	--lwt-toolbar-field-color: var(--urlbar-inactive) !important;
	--lwt-toolbar-field-background-color: var(--bg-color) !important;
	--arrowpanel-background: #1e1f29 !important;
	--arrowpanel-color: white !important;
	--arrowpanel-border-color: transparent !important;
}

/* --- Bookmarks --- */
#nav-bar {
	background-color: var(--bg-color) !important;
}

#navigator-toolbox {
	--tabs-border-color: var(--color-bg) !important;
	background-color: var(--color-bg) !important;
	border: none !important;
	box-shadow: none !important;
}

#PlacesToolbar {
	align-items: center !important;
	display: flex !important;
	font-family: var(--tab-font), sans-serif !important;
	justify-content: center !important;
}

#PanelUI-button,
#nav-bar-customization-target,
#titlebar {
	background-color: var(--bg-color) !important;
}

#titlebar {
	-moz-box-ordinal-group: 3 !important;
}

.browser-toolbar {
	padding-left: 5px !important;
	padding-top: 5px !important;
	padding-right: 5px !important;
	padding-bottom: 5px !important;
}

/* --- Urlbar settings --- */

.urlbarView {
	background-color: var(--bg-color) !important;
	margin-bottom: 5px;
	font-family: var(--tab-font) !important;
	font-size: var(--font-size) !important;
}

.urlbarView-action {
	color: #50fa7b !important;
}

.urlbarView-row:hover {
	background-color: none !important;
}

#urlbar-container,
#urlbar-background,
.urlbar-input-box {
	background-color: var(--bg-color) !important;
	background-image: none !important;
	font-family: var(--tab-font) !important;
}

#urlbar-background {
	border-style: solid !important;
	border-color: var(--urlbar-inactive) !important;
	border: 5px;
}

#urlbar-one-offs-header-label {
	color: var(--urlbar-inactive) !important;
	background-color: var(--bg-color) !important;
}

#tracking-protection-icon-container,
#urlbar-search-button {
	background-color: none !important;
	background-image: none !important;
	border: none !important;
	display: none !important;
}

.urlbarView-row[aria-selected="true"]
.urlbarView-row-inner {
	background-color: var(--urlbar-inactive) !important;
}

#urlbar-input::selection {
	background-color: var(--urlbar-inactive) !important;
}

.urlbarView-url {
	color: #8be9fd !important;
}

#userContext-label[value="Personal"]
{
	color: var(--personal-container-color) !important;
}

#userContext-label[value="Work"]
{
	color: var(--work-container-color) !important;
}
/* --- Tab settings --- */

/* Hide these */
.tab-close-button,
.tab-line,
.tabbrowser-tab::before,
.tabbrowser-tab::after,
.tab-icon-image {
	display: none !important;
}

.tabbrowser-tab {
	background-color: var(--bg-color) !important;
	color: var(--tab-foreground) !important;
	font-family: var(--tab-font) !important;
	margin-right: 10px !important;
}
/* --- Default tab behavior --- */
.tabbrowser-tab:hover {
	background-color: var(--bg-color) !important;
	border: 1px solid var(--tab-foreground) !important;
	border-radius: 8px !important;
}

.tabbrowser-tab[selected="true"] {
	background-color: var(--bg-color) !important;
	background-image: none !important;
	color: #50fa7b !important;
	border: 1px solid #50fa7b !important;
	border-radius: 8px !important;
	-moz-box-sizing: border-box !important;
}

/* --- Container tabs --- */
.tabbrowser-tab.identity-color-blue[selected="true"] {
	color: var(--personal-container-color) !important;
	border-color: var(--personal-container-color) !important;
}

.tabbrowser-tab.identity-color-blue:hover {
	border-color: var(--personal-container-color) !important;
}

.tabbrowser-tab.identity-color-blue {
	color: var(--personal-container-color) !important;
}

.tabbrowser-tab.identity-color-red[selected="true"] {
	color: var(--work-container-color) !important;
	border-color: var(--work-container-color) !important;
}

.tabbrowser-tab.identity-color-red:hover {
	border-color: var(--work-container-color) !important;
}

.tabbrowser-tab.identity-color-red {
	color: var(--work-container-color) !important;
}


.tab-content {
	background-color: none !important;
	background-image: none !important;
}

.tab-stack {
	display: flex !important;
}

.tabbrowser-tab[pinned="true"] .tab-label-container {
	display: none !important;
}


scrollbox {
	padding: 10px;
}

#toolbar-menubar {
	background-color: var(--bg-color) !important;
}
