@-moz-document url(about:blank), url(about:newtab), url(about:home) {
    html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
      background: #282a36 !important;
    }
  }

/* Hide scrollbar */

:root{
scrollbar-width: none !important;
}


@-moz-document url(about:privatebrowsing) {
:root{
background: #282a36 !important;
scrollbar-width: none !important;
}
}
@-moz-document url(about:preferences), url(about:config) {
:root{
	background: #282a36 !important;
}
}

@-moz-document url(about:preferences) {
	.sticky-container, #searchInput  {
		background: #282a36 !important;
	}
}

@-moz-document url(about:preferences) {
	#searchInput[focused="true"] {
		border-color: #6272a4 !important;
		box-shadow: none !important;
	}
}

@-moz-document url(about:preferences) {
	.category[selected="true"] {
		color: #bd93f9 !important;
	}
}
